body#tinymce.wp-editor h2 {
	clear: both;
}
body#tinymce.wp-editor { 
    font-family: Arial, Helvetica, sans-serif; 
    margin:10px; 
	font-size: 16px;
	line-height: 1.5em;
}

/* Alignment */
.alignleft {
	display: inline;
	float: left;
	margin: 0 1.5em 1em 0;
	padding: 5px;
}
.alignright {
	display: inline;
	float: right;
	margin: 0 0 1em 1.5em;
	padding: 5px;
}
.aligncenter {
	clear: both;
	display: block;
	margin: 0 auto 20px;
	padding: 5px;
}