.login h1 a {
	background: url( ../images/bswd-logo-color.png ) no-repeat;
	background-size: 320px 63px;
	width: 320px;
	height: 63px;
	text-indent: -9999px;
	outline: 0;
	overflow: hidden;
	padding-bottom: 18px;
	display: block;
	margin: 0 auto;
	background-size: cover;
}
