@import url("https://p.typekit.net/p.css?s=1&k=qbg8sco&ht=tk&f=24349.24350.24351.24354.28967.28968.28972.28973.28974.28978.28979.28983.28987.28988&a=6463207&app=typekit&e=css");

@font-face {
font-family:"canada-type-gibson";
src:url("https://use.typekit.net/af/0d8f4c/00000000000000003b9b3882/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/0d8f4c/00000000000000003b9b3882/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/0d8f4c/00000000000000003b9b3882/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:700;
}

@font-face {
font-family:"canada-type-gibson";
src:url("https://use.typekit.net/af/0618db/00000000000000003b9b3883/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff2"),url("https://use.typekit.net/af/0618db/00000000000000003b9b3883/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff"),url("https://use.typekit.net/af/0618db/00000000000000003b9b3883/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:700;
}

@font-face {
font-family:"canada-type-gibson";
src:url("https://use.typekit.net/af/b67c91/00000000000000003b9b387d/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff2"),url("https://use.typekit.net/af/b67c91/00000000000000003b9b387d/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff"),url("https://use.typekit.net/af/b67c91/00000000000000003b9b387d/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:400;
}

@font-face {
font-family:"canada-type-gibson";
src:url("https://use.typekit.net/af/ef2129/00000000000000003b9b387c/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/ef2129/00000000000000003b9b387c/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/ef2129/00000000000000003b9b387c/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:400;
}

@font-face {
font-family:"rift";
src:url("https://use.typekit.net/af/7b2ae2/00000000000000003b9adf10/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff2"),url("https://use.typekit.net/af/7b2ae2/00000000000000003b9adf10/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff"),url("https://use.typekit.net/af/7b2ae2/00000000000000003b9adf10/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:300;
}

@font-face {
font-family:"rift";
src:url("https://use.typekit.net/af/3e8d2a/00000000000000003b9adf11/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i3&v=3") format("woff2"),url("https://use.typekit.net/af/3e8d2a/00000000000000003b9adf11/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i3&v=3") format("woff"),url("https://use.typekit.net/af/3e8d2a/00000000000000003b9adf11/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i3&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:300;
}

@font-face {
font-family:"rift";
src:url("https://use.typekit.net/af/e6694f/00000000000000003b9adf15/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i6&v=3") format("woff2"),url("https://use.typekit.net/af/e6694f/00000000000000003b9adf15/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i6&v=3") format("woff"),url("https://use.typekit.net/af/e6694f/00000000000000003b9adf15/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i6&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:600;
}

@font-face {
font-family:"rift";
src:url("https://use.typekit.net/af/a3a591/00000000000000003b9adf16/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/a3a591/00000000000000003b9adf16/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/a3a591/00000000000000003b9adf16/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:400;
}

@font-face {
font-family:"rift";
src:url("https://use.typekit.net/af/feff40/00000000000000003b9adf17/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff2"),url("https://use.typekit.net/af/feff40/00000000000000003b9adf17/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff"),url("https://use.typekit.net/af/feff40/00000000000000003b9adf17/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:400;
}

@font-face {
font-family:"rift";
src:url("https://use.typekit.net/af/3bb341/00000000000000003b9adf1b/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("woff2"),url("https://use.typekit.net/af/3bb341/00000000000000003b9adf1b/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("woff"),url("https://use.typekit.net/af/3bb341/00000000000000003b9adf1b/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:500;
}

@font-face {
font-family:"rift";
src:url("https://use.typekit.net/af/64ae0f/00000000000000003b9adf1c/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i5&v=3") format("woff2"),url("https://use.typekit.net/af/64ae0f/00000000000000003b9adf1c/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i5&v=3") format("woff"),url("https://use.typekit.net/af/64ae0f/00000000000000003b9adf1c/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i5&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:500;
}

@font-face {
font-family:"rift";
src:url("https://use.typekit.net/af/d2dc05/00000000000000003b9adf20/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("woff2"),url("https://use.typekit.net/af/d2dc05/00000000000000003b9adf20/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("woff"),url("https://use.typekit.net/af/d2dc05/00000000000000003b9adf20/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:600;
}

@font-face {
font-family:"rift";
src:url("https://use.typekit.net/af/8e69e7/00000000000000003b9adf24/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff2"),url("https://use.typekit.net/af/8e69e7/00000000000000003b9adf24/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff"),url("https://use.typekit.net/af/8e69e7/00000000000000003b9adf24/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:700;
}

@font-face {
font-family:"rift";
src:url("https://use.typekit.net/af/c7fc58/00000000000000003b9adf25/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/c7fc58/00000000000000003b9adf25/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/c7fc58/00000000000000003b9adf25/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:700;
}
div#api_users_list table tr td {
    font-size: 14px;
}
.data-table th {
    font-size: 18px;
}
ul.custom-list li {
    font-size: 14px;
}
ul.custom-list li span {
    font-size: 14px;
}
label.sub {
    font-size: 16px !important;
    font-weight: 600 !important;
}
.cust-menu .dropdown-item:hover, .cust-menu .dropdown-item:focus {
    background: #f00;
}
.font-16 {
    font-size: 16px;
}
button.arrow-sort {
    background: transparent;
    border: none;
}
button.arrow-sort svg {
    width: 15px;
}
.buttons-wrap {
    display: flex;
    gap: 14px;
    align-items: center;
}
.full-width-container {
    padding: 40px 0;
    background: #f7f9fb;
}
.full-width-container .dashboard-cont {
    box-shadow: 0px 0px 2px #ccc;
}
.dashboard-cont {
    background: #fff;    
}
.section_header {
    display: flex;
    justify-content: space-between;
    padding: 12px;
	  align-items: center;
    background: #f7f9fb;
    border: 1px solid #eaeaea;
}

.btn.grey-btn {
    background: #b0b6bb;
}
.section_inner_wrapper {
    padding: 0 20px;
}

h3.h3 {
    color: #222 !important;
    padding-bottom: 7px;
    margin-bottom: 20px;
}
ul.custom-list {
    list-style: none;
}
ul.custom-list li {
    padding: 5px;
}

li.list-item span {
    text-align: right;
    min-width: 70px !important;
    display: inline-block;
    margin-right: 20px;
}

.bold {
    font-weight: 900;
}
.section_information {
    padding-bottom: 20px;
}
.filters_wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.filter-item form {
    align-items: center;
}

.filter-item label {
    margin-right: 20px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
}

.filter-item input {
    height: 30px;
    border-radius: 0 !important;
    border-color: #f7f9fb;
}

.filter-item button {
    height: 30px;
    background: #ccc;
    border-radius: 0 !important;
}
.pagination_wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
form.invitee_check label {
    font-size: 14px;
    font-weight: 400;
    padding-left: 5px;
}
.caret.caret-up {
    border-top-width: 0;
    border-bottom: 4px solid #fff;
  }
.filter_btns {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.data-table table, td, th {
/*   border: 1px solid black; */
}

.data-table table {
  width: 100%;
  border-collapse: collapse;
}
.data-table th {
    font-size: 16px;
    font-family: canada-type-gibson,sans-serif;
    color: #797979;
    padding: 7px 10px 4px;
}
.data-table td {
    padding: 7px 10px 4px;
}
.data-table table td {
    background: #f7f9fb;
    padding: 15px 10px !important;
}
.navbar-inverse {
    background-color: #000 !important;
  
}

div#myNavbar {
    display: flex !important;
    flex-wrap: nowrap;
    justify-content: flex-end;
}
.menu-menu-1-container ul {padding-left: 0;}
p {
    font-size: 26px;
    line-height: 38px;
    font-family: canada-type-gibson,sans-serif !important;
}
.full-width-section {
	height: 100vh;
	background: #0E0F0F;
}

.full-width-section.frgt-pwd-pg {
	height: 100vh;
	background: blue !important;
}

.text-center h1,
h3 {
	color: white !important;
}

.white-clr {
	color: white !important;
}

#user_email-13,
#invitation_code-13,
#username_b,#user_password-13 {
	background: transparent;
	padding: 40px 30px !important;
	text-align: center;
	border-radius: 45px;
	font-style: italic;
	font-size: 24px !important;
	color:white !important;
	font-family: canada-type-gibson,sans-serif;
}

#user_email-13,
#invitation_code-13,
#username_b::placeholder{
	color:white;
}

.um-field {
	padding: 30px 0 0 0;
}

.um-button {
	color: #ffffff;
	background: #BFBFBF;
}



.um-button:hover {
	background: #8e8d8d !important;
}

.um-center .um-button {
	min-width: 100px !important;
	border-radius: 33px !important;
	padding: 20px !important;
}

.login-text p {
	justify-content: center;
	color: white;
}

.login-text a {
	color: white !important;
	text-decoration: underline;
	font-style: italic;
}

.text-center p {
	font-style: italic;
	margin: 0;
	
}



.text-center p,
h1 {
	margin: 0;
}

.text-center h1 {
	font-size: 60px;
	font-family: rift,sans-serif;
}

.um.um-login.um-13.uimob500 {
	max-width: 35%;
}

.disabled input {
	pointer-events: none;
	background-color: #eee;
	color: #6d6d6d;
}

.um-field.um-field-block.um-field-type_block .um-field-block {
	color: white !important;
}
 
input#um-submit-btn {
	font-family: rift,sans-serif;
	background: #BFBFBF;
	text-transform: uppercase !important;
	font-size: 26px;
    font-weight: bold !important;
    padding: 25px 50px !important;
    border-radius: 45px !important;
}
input#um-submit-btn:hover {
	 background:transparent !important;
}
 .login-bottom {
	text-align: center;
	font-size: 20px;
	font-weight: 500;
	margin: 0;
	font-style: italic;
	 font-family: canada-type-gibson,sans-serif;
}
a.um-link-alt {
    font-size: 20px;
	font-weight:500;
	font-family: canada-type-gibson,sans-serif;
}
p.sub-heading.white-clr {
    font-size: 18px;
    letter-spacing: 1px;
		text-transform: uppercase !important;
	font-style: normal;
	font-family: canada-type-gibson,sans-serif;
}
 
.forget-password-paragraph {
    font-size: 20px;
    font-style: italic;
    font-weight: 500;
	font-family: canada-type-gibson,sans-serif;
}
 
.custom-submit-button input {
    background: transparent !important;
    
}
/*
 * 
 * 
 * 
 * /
/*  header css*/

.top-header {
    background: grey;
    padding-left: 20px;
    padding-bottom: 5px;
    padding-top: 5px;
}

.main-header {
    padding: 40px 40px;
    background: black;
   
}
.container {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}

.header-menu {
    display: flex;
    justify-content: flex-start;
    align-content: flex-end;
    flex-wrap: nowrap;
    flex-direction: row;
}

 
.menu li {
    list-style: none !important;
	padding:10px;
	}
.menu a {
    color:white !important;
}
ul#menu-menu-2 {
    display: flex;
   
    justify-content: center;
    align-items: center;
	    font-weight: bold !important;
	    

}
ul#menu-menu-1 {
		margin:0;
    display: flex;
    font-size:1.02vw!important;
    justify-content: flex-end;
    align-items: center;
	    font-weight: bold !important;
}
.container-fluid.custom-header{
	padding-right:16rem !important;
	padding-left:16rem !important;
}
#menu-footer a {
    color: black !important;
    font-size: 14px;
    font-weight: bold;
	text-transform:uppercase;
     
}
#menu-footer li{
padding:5px;
}
.footer-text{
	font-size:16px;
	color:black;
}
.footer-bottom-text{
	text-align:center;
		font-size:16px;
	color:black;
}
.footer-bottom{
	margin-top:50px;
}
/* new header */
.cust-menu ul {
/*     font-size: 31px; */
    color: white !important;
    list-style: none;
}


.container-fluid.cust-menu {
    padding:40px;
}
@media (max-width:540px){
    .cust-menu li {
     font-size:3vw!important;
    
 
}.container-fluid.cust-menu {
    padding: 10px;
}
}
@media (min-width:541px){
     .col-lg-9.right-menu {
    display: flex !important;
    flex-wrap: nowrap;
    justify-content: center;
    
    padding-left:0px;
}
.cust-menu ul{
    padding-left:0;
}
	.cust-menu li {
     font-size:3vw !important;
    
 
}
 }
@media(max-width: 767px) {
	.cust-menu .row.cust-row  {
		justify-content: center;
	}
	.cust-menu ul{
		display: flex;
		justify-content:center;
	}
	.left-menu{
		text-align:center;
	}
}
@media (min-width:768px){
    
.row.cust-row {
    align-items: center;
}
 .cust-menu li {
     font-size:2vw!important;
    
 
}
.cust-menu ul{
    padding-left:0;
}

.row.cust-row {
   padding-left:5rem;
   padding-right:5rem;
}
.right-menu {
    display: flex !important;
    flex-wrap: nowrap;
    justify-content:center;
}
}
@media (min-width:992px){
	.cust-menu li {
     font-size:1.52vw!important;
    color: white !important;
    list-style: none;
    padding-right:10px;
     padding-left:10px;
	font-family: rift,sans-serif;
}
    
.row.cust-row {
    align-items: center;
}

.row.cust-row {
   padding-left:16rem;
   padding-right:16rem;
}

.right-menu {
    display: flex !important;
    flex-wrap: nowrap;
    justify-content: flex-end;
}
.cust-menu ul{
    margin-bottom:0px;
}
}
 @media (max-width:576px){
     .right-menu {
    display: flex !important;
    flex-wrap: nowrap;
    justify-content: center;
    
    padding-left:0px;
}
.cust-menu ul{
    padding-left:0;
}
 }

 
.cust-row .col-lg-3.col-md-12.col-sm-12 img {
   display: block;
  margin-left: auto;
  margin-right: auto;
}

.col-lg-9.col-md-12.col-sm-12.right-menu {
    padding-bottom:0px !important
}

.cust-menu {
}

.cust-menu ul {
    padding-bottom: 0px !important;
    margin-bottom: 0;
}

.row.cust-row {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.row.cust-row {}
/* End: header css */
/*
 * 
 * 
 * 
 * /
/*  custom css for content page*/
.container.custom-page-container {
	min-height: 100vh;
	display:flex;
	align-items: stretch;
}
.left-section.col-xl-3 {
    font-size: 26px;
    font-weight: bold;
    text-transform: uppercase;
	font-family:rift,sans-serif;
}

.right-section.col-xl-9 .cust-page-title {
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: canada-type-gibson,sans-serif;
}

.cust-user-name h1 {
    font-size: 60px;
    font-weight: bold;
    text-transform: uppercase;
	margin-bottom:20px;
	font-family: rift,sans-serif;
}
.cust-user-name p {
    font-size: 26px;
    line-height: 38px;
	font-family: canada-type-gibson,sans-serif !important;
 }

.cust-fields strong {
	
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
}
.cust-fields{
	margin:10px 0px;
}
span.field-text {  
    font-size: 26px;
    font-style:italic;
     }

.left-section.col-xl-3 ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.right-section.col-xl-9{
 
	    padding: 50px 0px 50px 60px;
}


.left-section.col-xl-3 li {
    padding-bottom: 15px;
}
.left-section.col-xl-3 a {
    color: black;
}
.cust-fields {
    font-family: canada-type-gibson,sans-serif;
}
/* Footer  */
footer#colophon {
    border-top: 1px solid #eaeaea;
}
footer#colophon {
    padding-bottom: 10rem !important;
    padding-top: 6rem !important;
} 
/*  rscp status form style*/
li#field_2_32 > label {
    font-size: 60px !important;
    font-family: rift,sans-serif;
    font-weight: bold;
}
li#field_2_44 > label {
    font-size: 24px;
    line-height: 27px;
}
li#field_2_44 label.sub {
    font-size: 16px !important;
    font-weight: 600 !important;
}
ul#input_2_32 {
   
    font-size: 24px;
    font-family: canada-type-gibson,sans-serif;
    font-weight: normal !important;
    font-style: italic !important;
}

ul#input_2_33 {
   
    font-size: 24px;
    font-family: canada-type-gibson,sans-serif;
    font-weight: normal !important;
    font-style: italic !important;
}
div#gfield_description_2_33 {
    font-size: 20px;
    font-family: canada-type-gibson,sans-serif;
    line-height: 28px;
    font-style: italic;
}
ul#input_2_33 {
    display: flex;
    width: 200px;
    justify-content: space-between;
}
.gfield.gf_right_half.gfield_html.gfield_html_formatted.gfield_no_follows_desc.field_sublabel_below.field_description_below.gfield_visibility_visible{
    font-size:20px !important;
        line-height: 27px;
	font-family: canada-type-gibson,sans-serif;
} 

 
.gfield.gf_right_half select{
       padding: 16px;
    font-size: 20px;
    font-family: canada-type-gibson,sans-serif;
}
#field_2_52>label {
 
    font-size: 35px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: rift,sans-serif;
}
ul#input_2_52 {
    display: flex;
/*     width: 75%; */
    justify-content: space-around;
    font-size: 20px;
    font-family: rift,sans-serif;
    font-style: italic;
	margin:0px !important;
} 
li#field_2_33 > label {
    font-size: 35px;
    font-family: rift,sans-serif;
    font-weight: bold;
}
/*  */
li#field_2_32 > label {
    font-size: 60px;
    font-family: rift,sans-serif;
    font-weight: bold;
}

ul#input_2_32 {
   
    font-size: 24px;
    font-family: canada-type-gibson,sans-serif;
    font-weight: normal !important;
    font-style: italic !important;
}

li.gchoice_2_32_0 {
    margin: 0px;
}

#field_2_33.gfield_label {
    font-size: 35px !important;
}

li#field_2_33 > label {
    font-size: 35px;
    font-family: rift,sans-serif;
    font-weight: bold;
}

.gfield_radio {
    font-size: 25px;
}

ul#input_2_33 {
    font-size: 24px;
    font-size: 24px;
    font-family: canada-type-gibson,sans-serif;
    font-weight: normal !important;
    font-style: italic !important;
}

div#gfield_description_2_33 {
    font-size: 20px;
    font-family: canada-type-gibson,sans-serif;
    line-height: 28px;
    font-style: italic;
}

ul#input_2_33 {
    display: flex;
    width: 200px;
    justify-content: space-between;
}

 
.gfield.gf_right_half.gfield_html.gfield_html_formatted.gfield_no_follows_desc.field_sublabel_below.field_description_below.gfield_visibility_visible{
    font-size:20px !important;
        line-height: 27px;
        font-family: canada-type-gibson,sans-serif;
} 

 
.gfield.gf_right_half select{
       padding: 16px;
    font-size: 20px;
    font-family: canada-type-gibson,sans-serif;
}


#field_2_52>label {
 
    font-size: 35px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: rift,sans-serif;
}



.ginput_container.ginput_container_radio {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
}


.gform_wrapper.gf_browser_chrome select {
    padding: 16px 16px 16px 16px !important;
}

#gfield_description_2_52 a {
    color: grey;
}
input#gform_submit_button_2 {
    font-size: 26px;
    background: #2472ff;
    color: #ffffff;
    padding: 5px 25px;
    border-radius: 50px;
	font-family: rift,sans-serif;
	border:none;
}
.gform_wrapper.gf_browser_chrome .gfield_checkbox li input, .gform_wrapper.gf_browser_chrome .gfield_checkbox li input[type=checkbox], .gform_wrapper.gf_browser_chrome .gfield_radio li input[type=radio] {
    margin-top: -2px !important;
}

.ginput_container.ginput_container_radio {
    margin-top: 0px !important;
}

label.gfield_label {
    margin-bottom: 0px;
}
.gfield.gf_right_half.gfield_html.gfield_html_formatted.gfield_no_follows_desc.field_sublabel_below.field_description_below.gfield_visibility_visible label{
    font-size:24px;
    font-style:italic;

}
div#gfield_description_2_33 {
    padding-top: 0px;
}

li#field_2_33 {
    display: flex;
    flex-direction: column;
}

label.gfield_label {
    order: 1;
}

.ginput_container.ginput_container_radio {
    order: 3;
}

div#gfield_description_2_33 {
    order: 2;
}
iv#gfield_description_2_52 {
    font-size: 20px;
    font-family: canada-type-gibson,sans-serif;
    font-style: italic;
    padding-top: 0px;
}
li.rsvp-list::after{}
.notification-icon u::after { content: ".";
 color:transparent;
  top: 0;
  height: 10px;
  width: 10px;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
 }
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url("http://rsvpignite.bigsplashmarketing.com/wp-content/uploads/image-1.svg");
	background-repeat:no-repeat;
    background-position: 95% 50%;
}

input[type=radio] {
    opacity: 0;
    position: absolute;   
}

input[type=radio], input[type=radio] + label {
    display: inline-block;
    vertical-align: middle;
    margin: 5px;
    cursor: pointer;
}

input[type=radio] + label {
    position: relative;
}

input[type=radio] + label:before {
    content: '';
    background: #ffffff;
    border: 2px solid #bdbdbd;
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 30px;
    line-height: 28px;
    padding: 0;
    margin-right: 10px;
    text-align: center;
}

input[type=radio] + label:before {
    border-radius: 65%;
}

input[type=radio]:checked + label:before {
    content: "\2713";
    background: #000;
    color: #ffffff;
    text-indent: -5px;
    border: 2px solid #bdbdbd;
}

input[type=radio]:focus + label:before {
  outline: 1px solid #000000; / focus style /
}

ul.gfield_radio li {
    min-width: 80px;
    width: 100%;
}

.gform_wrapper {
  
    margin-top: -30px !important;
   
}
div#gfield_description_2_52 {
    font-size: 21px;
    font-family: canada-type-gibson,sans-serif;
    font-style: italic;
    text-transform: uppercase;
    text-decoration: underline;
}

li#field_2_52 {
    display: flex;
flex-wrap:wrap;
}

label.gfield_label {
    order: 1;
}

.ginput_container.ginput_container_radio {
    order: 3;
}

div#gfield_description_2_52 {
    margin: 0;
    order: 2;
    padding: 0;
}
select#input_2_48 {
    background-color: #d3d3d3;
}

select#input_2_49 {
    background-color: #d3d3d3;
}
li#field_2_35 label {
    font-size: 35px;
    font-weight: bold;
    font-family: rift,sans-serif;
}
li#field_2_35 p {
    font-size: 20px;
    font-style: italic;
    padding: 0;
    margin-bottom: 20px;
	font-family: canada-type-gibson,sans-serif;
}
select {
    font-style: italic;
}

.radio-button-flex label{
    max-width: 62%;
}

.radio-button-flex div:nth-child(2){
    max-width: 100%;
}
.radio-button-flex div:nth-child(3){
     max-width: 38%;
    align-self: flex-end;
}
.gform_wrapper .gfield_required {
    color: #000000 !important;
   
}
 span.cust-days {
    font-size: 24px;
    font-weight: 400;
    font-style: normal;
}
span.cust-days {
    font-size: 24px;
    font-weight: 400;
    font-style: normal;
}

label.gfield_label {
    font-size: 35px !important;
    font-family: rift,sans-serif;
}

.gfield.gf_right_full select{
    font-size:20px;
    font-family: canada-type-gibson,sans-serif;
}
button.navbar-toggle.collapsed {
     
    background: yellow;
}
/* thank you page style*/
.thank-you-custom h1 {font-size: 60px;
    font-weight: bold;
    text-transform: uppercase;

    font-family: rift,sans-serif;
}
.thank-you-custom p {
    font-size: 24px;
    line-height: 38px;
    font-style:italic;
    font-family: canada-type-gibson,sans-serif !important;
}
.cust-button {
     border-radius: 33px;
    background-color: #007bff;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    text-transform: uppercase;
    font-family: rift,sans-serif;
    font-size: 20px;
	    margin-top: 50px !important;

}
.cust-button:hover {
    text-decoration: none !important;
    color: white; 
}
 

/* Media queueries */
@media (max-width: 576px) {
	.ginput_container.ginput_container_radio {
		display: block;
	}
	.right-section.col-xl-9 {
		padding: 10px 0px 10px 10px;
	}
/* 	.gfield_radio li label {
		display: flex !important;
	} */
	.gfield_radio li {
		margin-bottom: 0px !important;
	}
	ul#input_2_52 {
		display: flex;
		flex-wrap: wrap;
	}
.left-section.col-xl-3 {
    padding: 10px 0px 10px 10px;
}
	
}
@media(max-width: 640px){
ul#gform_fields_2 {
    display: flex;
    flex-direction: column;
}
	li.custom-select-1 {
    order: 2;
}
li.custom-select-2 {
    order: 5;
}
li.custom-select-3 {
    order: 3;
}
li.custom-select-4 {
    order: 6;
}
li.custom-select-5 {
    order: 4;
}
li.custom-select-6 {
    order:7;
}
li.custom-select-7 {
    order:1;
}


}

@media (min-width: 576px) {
	  
	.right-section.col-xl-9 {
  
	
		padding: 0px 0px 0px 0px;
	}
	.container.custom-page-container {
		max-width: 700px;

	}
	.gfield_radio li label {
		display: flex !important;
	}
	.gfield_radio li {
		margin-bottom: 0px !important;
	}
	.left-section.col-xl-3 {
    padding: 50px 0px 50px 60px;
}
	.left-section.col-xl-3 {
    padding: 10px 0px 0px 0px;
}
}

@media (min-width: 768px) {
	
.right-section.col-xl-9{
	border-left:solid 2px #050606;
	}
	.container.custom-page-container {
		max-width: 960px;

	}
		.right-section.col-xl-9{
	 
	    padding: 50px 0px 50px 60px !important;
}
	
	 .left-section.col-xl-3 {
	 padding: 50px 0px 50px 60px !important;
}
	.cust-footer-left,
	.cust-footer-middle,
	.cust-footer-right {
		padding-bottom: 30px;
	}
	.cust-footer-right .menu-footer-container ul {
		padding: 0px !important;
	}
	.left-section.col-xl-3 {
		padding: 0
	}
/* 	.left-section.col-xl-3.col-lg-3.col-md-3.col-sm-12.col-12 {
		border-bottom: solid black 2px
	} */
}

@media (min-width:992px) {
	.container.custom-page-container {
		max-width: 960px;
		
	}
	.right-section.col-xl-9{
	 
	    padding: 50px 0px 50px 60px;
}
	
	 .left-section.col-xl-3 {
	 padding: 50px 0px 50px 60px;
}
}
 
@media (min-width: 1200px) {
	.container.custom-page-container {
		max-width: 1140px;
		
	}
	.right-section.col-xl-9{
	 
	    padding: 50px 0px 50px 60px;
}
	
	 .left-section.col-xl-3 {
	 padding: 50px 0px 50px 60px;
}
}


.gfield.gfield--width-full input{
      padding: 16px !important;
    font-size: 20px !important;
    font-family: canada-type-gibson,sans-serif;
 
    color: black !important;
    font-style: italic;
    font-weight:500;
    
}
 